
/*Для телефонов (до 600px)*/
/* @media only screen and (max-width: 400px) {

} */
/*Для телефонов (до 600px)*/
/* @media only screen and (min-width: 400px) and (max-width: 600px) {

} */
@media only screen and (min-width: 600px) and (max-width: 850px) {
   .inputField span{
      font-size: 16.5px;
   }
   .inputField input {
      max-width: 80px;
      min-width: 60px;
   }
 }
 /*Для планшетов (от 601px до 1024px)*/
 @media only screen and (min-width: 850px) and (max-width: 1024px) {
   .inputField span{
      font-size: 16.5px;
   }
   .inputField input {
      max-width: 80px;
      min-width: 60px;
   }
 }
 /*Для ноутбуков поменьше*/
 @media only screen and (min-width: 1024px) and (max-width: 1220px) {
   .inputField span{
      font-size: 16.5px;
   }
   .inputField input {
      max-width: 60px;
      min-width: 50px;
   }
 }
 /*Для ноутбуков (от 1025px до 1440px)*/
 @media only screen and (min-width: 1221px) and (max-width: 1440px) {
   .inputField span{
      font-size: 16.5px;
   }
   .inputField input {
      max-width: 80px;
      min-width: 60px;
   }
 }
 /*Для ПК (от 1441px и выше)*/
 @media only screen and (min-width: 1440px) and (max-width: 1600px) {
   .inputField span{
      font-size: 16.5px;
   }
   .inputField input {
      max-width: 80px;
      min-width: 60px;
   }
 }
 @media only screen and (min-width: 1600px) {
   .inputField span{
      font-size: 16.5px;
   }
   .inputField input {
      max-width: 80px;
      min-width: 60px;
   }
 }


.container {
}

.price {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.inputField {
   display: flex;
   align-items: center;
   column-gap: 10px;
   position: relative;
}
.inputField span {
   color: var(--dark_gray);
   color: var(--text-secondary);
   font-weight: var(--weight_normal);

   /* color: var(--text-primary); */
   text-wrap: nowrap;
   margin-right: 10px;
}
.inputField input {
   transition: outline 0.1s ease;
   text-align: center;
   padding: 16px 10px 3px 10px;
   border: none;
   margin-bottom: 10px;
   margin-left: -9px;
   font-size: 1.1rem;
   font-weight: var(--weight_medium);
   outline: none;
   border-bottom: 3px solid var(--dark_gray);

   /*firefox*/
   -moz-appearance: textfield;
   background-color: var(--white);
}

.inputField input[type="number"]::-webkit-inner-spin-button,
.inputField input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
}
.inputField input:focus{
   outline: 1.5px solid var(--accent);
}
.divider {
   height: 2.5px;
   width: 13px;
   border-radius: 30px;
   margin: 0 0.5rem;
   background-color: var(--black);
}
.slider {
   position: relative;
   height: 7px ;
   background-color: var(--dark_gray);
   border-radius: 20px;
   margin-top: 1.5rem;
}
.progress{
   position: absolute;
   height: 7px;
   border-radius: 20px;
   background-color: var(--accent);
}
.range {
   position: relative;
   width: 100%;
   margin-bottom: 1rem;
}
.range input {
   position: absolute;
   top: -7px;
   height: 7px;
   width: 100%;
   background: none; 
   pointer-events: none;
    /* -webkit-appearance: none; */
}
input[type="range"]::-webkit-slider-thumb {
   width: 21px;
   height: 21px;
   -webkit-appearance: none;
   pointer-events: auto;
   border-radius: 50px;
   cursor: pointer;
   background-color: var(--accent);
}
