.datePicker {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 1 33.5%;
  width: 100%;
}
.datePicker_title {
  padding-bottom: 18px;
  text-align: right;
}
.datePicker_field {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  border-radius: 5px;
  width: 100%;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
.datePicker_input {
  margin: 10px 16px 10px;
  outline: 2px solid var(--dark_gray);
  border-radius: 1px;
  height: 54px;
  font-size: 17px;
  margin: 0 auto;
}
.datePicker_input:hover {
  outline: 2px solid var(--accent_hover);
}
.datePicker_input:focus {
  color: black;
  outline: 2px solid var(--accent);
}
.datePicker_input:focus.icon {
  color: var(--accent);
}
.input_error {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
}
.input_errorText {
  bottom: -20px;
  font-family: cursive;
  font-size: 13px;
}
.icon {
  color: var(--dark_gray);
  margin-bottom: -7px;
}
.icon_isValid {
  color: var(--accent_active);
  height: 20px;
  width: 20px;
  margin-bottom: -3px;
  margin-left: -1px;
}
.icon:hover {
  color: var(--accent);
}
