.product {
   display: flex;
   width: 100%;
   align-items: center;
   /* justify-content: start;
   position: relative; */
   border-bottom: 1px solid rgb(206, 206, 206);
   justify-content: space-between;
}
.product_content{
   display: flex;
   /* flex:1 0 70%; */
   
   align-items: center;

}
.product_checkbox {
   margin: 0 10px 0 0;
}
.product_item {

   width: 100%;
   /* margin: 0 10px 0 0; */
   height: 140px;
   padding: 16px 0;
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   /* margin: 0 0 0 10px; */
}
.product_frame {
   width: 100px;
   height: 100px;
}
.product_image {
   width: 100px;
   height: 100px;
   /* min-width: 100%;
   min-height: 100%; */
}
.product_description {
   display: flex;
   flex-direction: column;
   margin: 0 0 0 24px;
}
.product_name {
   margin: 0 0 24px 0;
}
.product_icons {
   display: flex;
   gap: 20px;
   height: 30px;
}
.product_icon__delete {
   min-width: 30px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(245, 248, 250);
   border-radius: 5px;
}
.product_icon__delete:hover  {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.product_icon__buy {
   color: black;
   height: 35px;
   display: flex;
   background-color: rgb(245, 248, 250);
   align-items: center;
   justify-content: space-between;
   padding: 0 8px;
   gap: 5px;
   border-radius: 8px;
   flex-direction: row;
}
.product_icon__buy:hover  {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.product_price {
   font-size: 17px;
   font-weight: 600;
   margin: 0 0 0 24px;
   min-width: 40px;
   /* display: flex; */
   color: #518581;
}
.product_currency {
   /* font-size: 16px;
   font-weight: 700; */
   /* padding-top: 1px; */
   margin: 0 0 0 4px;
}
.product_counter {

}

