.link {
   list-style: none;
   height: 100%;
   color: var(--black);
   font-weight: var(--weight_normal);
   font-family: var(--font-family);
   font-size: 18px;
   line-height: 122%;
   display: flex;
   align-items: center;
}
.isActive {
   list-style: none;
   color: var(--accent);
   font-weight: var(--weight_clarendon);
   position: relative;
}
.line {
   position: absolute;
   bottom: -2px;
   width: 100%;
   background-color: var(--accent);
   height: 2.5px;
}
