.catalog {
   /* margin-top: var(--size_l); */
   height: 100%;
}
.catalog_title {
   display: flex;
   align-items: center;
   gap: var(--size_m);
   height: var(--size_l);
   margin-bottom: 32px;
}
.title {
   font-size: 32px;
   text-wrap: nowrap;
}

.main {
   display: grid;
   grid-template-columns: repeat(3, 360px);
   grid-gap: 30px 0;
   justify-content: space-between;
}
.main_product {
   display: block;
   max-width: 360px;
}
.pagination {
   margin-top: var(--size_l);
}
