.btn {
  height: var(--size_l);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: var(--size_s);
  width: 110px;
}
.btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn svg {
  height: 32px;
  width: 32px;
}
.btn:hover {
  border-radius: 7%;
  box-shadow: var(--shadows);
}
.btn_text {
  font-family: var(--font-family);
  font-weight: var(--weight_normal);
  font-size: 20px;
  line-height: 120%;
  color: var(--text-primary);
}
