/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
   font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}
body {
   background-color: #fafafa;
   /* margin: 0px; */
}
html,
body {
   min-height: 100%;
   width: 100%;

   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   /* font-family: inherit; */
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
/* img {
   vertical-align: top;
 } */
/*  
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: 400;
 } */
/*--------------------*/

:root {
   --white: #fff;
   --black: #000;
   --light_grey: #d9d9d9;
   --dark_gray: #afadb5;
   --accent: #518581;
   --accent_hover: #86aaa7;
   --accent_active: #487773;

   --shadows: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

/* body {
   overflow: auto
} */




