.content {
    display: flex;
    gap: 18px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }