.categories {
   padding: 72px 100px 48px ;
   max-height: 100%;
}
.header {
   display: flex;
   column-gap: 20px;
   align-items: end;
   margin-bottom: 60px;
   border-bottom: 2px solid rgb(0, 0, 0, 0.2);
   padding: 12px 0;
}
.main {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 72px 15%;

}
.main_content {
   display: block;
   height: 400px;
   border-radius: 5%;
   border: 1px solid rgb(235, 235, 235);
   max-width: 400px;
}
.main_img {
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   width: 100%;
   height: 80%;
}
.main_name {
   color: rgb(105, 102, 102);
   text-align: center;
   margin-top: 20px;
   height: 50px;
}
.main_content:hover {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
   border-bottom: 2px solid rgb(0, 0, 0, 0.2);
   /* opacity: 0.8;
   margin-top: -5px;
   margin-left: -5px; */
}
.count {
   margin-bottom: 2px;
}