.form {
   width: 100%;
   /* height: 100%; */
   display: flex;
   flex-direction: row;
   /* margin: 20px; */
}

.wrap_icon {
   position: relative;
   height: 0px;
   width: 0px;
   left: -34px;
   bottom: -13.5px;
   color: var(--dark_gray);
}
.input {
   border: none;
   display: flex;
   align-items: center;
   width: 100%;
   height: 52px;
   position: relative;
   color: var(--dark_gray);
   padding: 14px 35px 14px 12px;
   color: #adafb5;
   background-color: var(--white);
   outline: 1px solid var(--white);
   font-weight: 400;
   font-size: 16px;
   transition:
      color 0.3s ease,
      border-color 0.3s ease;
}
.input::placeholder {
   color: #adafb5;
}
.input:focus {
   outline: 1px solid var(--accent);
   color: var(--black);
}
.input:focus::placeholder {
   color: var(--dark_gray);
}
.input:disabled::placeholder {
   color: var(--dark_gray);
}
.input:disabled {
   color: var(--dark_gray);
}
