.payment {
   margin: 100px;
   width: 100%;
   height: 100%;
}
.checkBox_input{
   width: 39px;
   height: 39px; 
   /* position: absolute; */
   /* display: none;  */
    background-color: #ffffff;
   outline: 1px solid rgb(255, 255, 255);
} 
.checkBox_input:-ms-check {

} 
/* .checkbox{
  margin-top: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .checkboxWrap {
   position: relative;
   display: inline-block;
   background-color: rgb(255, 255, 255);
   border: 1px solid #ffffff;
   width: 40px;
   height: 40px;
}
.checkboxWrapHover:hover {
   border: 1px solid #518581;
}
.checkboxWrapDisabled {
   border: 1px solid rgba(255, 255, 255, 0.5);
}
.checkbox {
   width: 40px;
   height: 40px;
   border: none;
   opacity: 0;
   display: flex;
   z-index: 2;
   background-color: white;
   position: relative;
}
.checkbox:disabled {
   background-color: rgba(255, 255, 255, 0.5);
   pointer-events: none;
}
.checkbox:hover {
} 
.checkbox_content{
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative; */
/* }
.checkBox_input{
   width: 40px;
   height: 40px;
   position: absolute;
   display: none;
   background-color: #ffffff;
}
.checkBox_icon{
   width: 40px;
   height: 40px;
   color: #518581;
   /* position: absolute;
   top: -50%;
   left: -50%; */
/* }

.checkBox_icon__disabled{
   background-color: rgba(255, 255, 255, 0.5);
} */ 