.card {
   height: 100%;
   width: 100%;
   display: flex;
   column-gap: 48px;
}
.card_carousel {
   background-color: #d9d9d9;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   min-width: 600px;
   min-height: 600px;
}
.carousel_icon {
   margin: 0 12px;
   position: absolute;
   bottom: 47%;
   border-radius: 50%;
   width: 64px;
   height: 64px;
   background-color: rgb(0, 0, 0, 0.4);
   align-items: center;
   justify-content: center;
   /* box-shadow: 0 4px 20px 0 rgba(175, 173, 181, 0.2); */
   z-index: 10;
   color: white;
}
.carousel_icon:hover {
   bottom: 46.9%;
   width: 66px;
   height: 66px;
   background-color: rgb(0, 0, 0, 0.8);
}
.carousel_icon__right {
   right: 0;
}
.carousel_img {
   height: 100%;
   width: 100%;
}
.card_main {
   display: flex;
   flex-direction: column;
   gap: 48px;
}
.main_info {
   display: flex;
   flex-direction: column;
   gap: 24px;
}
.main_description {
   line-height: 24px;
   text-wrap: wrap;
}
.main_footer {
   display: flex;
   flex-direction: column;
   gap: 48px;
   padding-top: 32px;
}
.footer_buttons {
   display: flex;
   flex-direction: row;
   gap: 48px;
   min-height: 52px;
}
.footer_btn__add {
   display: inline;
   padding: 16px 32px;
   border: 1px solid #afadb5;
   font-size: 18px;
   color: black;
   background-color: #fafafa;
   transition: var(--easy-transition);
}
.footer_btn__add:hover {
   background-color: #e0e0e1;
   border: 1px solid  transparent;
}