/* .similar {
   padding-right: 61px;
   display: flex;
   flex-direction: column;
   gap: 32px;
}
.similar_title {
   line-height: 48px;
}
.similar_cards {
   display: flex;
   justify-content: space-between;
}
.similar_product {
   width: 360px;
} */