.catalog {
   margin-top: var(--size_xs);
   /* margin-top: var(--size_l); */
   height: 100%;
}
.catalog_title {
   display: flex;
   align-items: center;
   gap: var(--size_m);
   height: var(--size_l);
   margin-bottom: 32px;
}
.title {
   font-size: 32px;
   text-wrap: nowrap;
   font-family: var(--font-family);
   font-weight: var(--weight_bold);
   line-height: 150%;
   color: var(--text-primary);
}
.count {
   font-family: var(--font-family);
   font-weight: var(--weight_bold);
   font-size: 20px;
   line-height: 120%;
   margin-top: 2px;
   color: var(--brand);
}
