.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.tab {
  flex: 1 1 auto;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  min-width: 120px;
  height: 48px;
  font-weight: 500;
  border: 1px solid rgb(20, 9, 9);
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: var(--accent);
  color: white;
}
.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.delivery_title {
  position: absolute;
  z-index: 10;
  right: 0;
  top: -34px;
}
.delivery_input {
  border-radius: 7px;
  padding: 30px 36px;
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  flex-direction: row-reverse;
  position: relative;
}
.delivery_field {
  display: flex;
  flex: 0 1 70%;
  position: relative;
  border: 2px solid var(--dark_gray);
  border-right: none;
  height: 54px;
  top: 0px;
  padding-top: 16px;
  font-family: var(--font-family);
}
.delivery_field:hover {
  border: 2px solid var(--accent_hover);
  border-right: none;
}
.delivery_field:focus {
  border: 2px solid var(--accent);
  border-right: none;
  outline: none;
}
.delivery_errorText {
  position: absolute;
  bottom: -20px;
  left: 12px;
  font-family: cursive;
  font-size: 14px;
  font-weight: 400;
}
.delivery_buttons{
  display: flex;
  flex: 0 1 30%;
  height: 54px;
  position: relative;
}
.delivery_button {
  width: 100%;
  position: absolute;
  z-index: 15;
  left: -1px;
  font-family: var(--font-family);
  background-color: var(--accent);
}
.delivery_button__disabled {
  background-color: var(--dark_gray);
  padding: 16px 20px;
}
.delivery_button__isActive {
  background-color: var(--dark_gray);
}
.delivery_button__isActive:hover {
  background-color: var(--dark_gray);
}
.delivery_icon {
  color: var(--accent);
  width: 26px;
  height: 26px;
}
