.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delivery_title {
}
.address {
  margin-top: 14px;
  border-radius: 7px;
  padding: 8px 12px;
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  flex-direction: row;
}
.address_input {
  width: 50%;
  /* border: 1px solid black; */
  padding-right: 24px;
}

.address_icon {
  margin-top: 12px;
  color: #787878;
  border-radius: 7px;
  margin-right: 10px;
  margin-left: 14px;
}

.input {
}
.delivery_button {
}
