.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: var(--white);
   border-bottom: 2px solid var(--dark_white);
   height: 90px;
   width: 100%;
   padding: 0 100px;
   /* position: fixed;
   z-index: 150; */
}
.main {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
}
.main_pages {
   display: flex;
   align-items: center;
   height: 100%;
}
.main_pages__basic {
   column-gap: var(--size_l);
   width: 100%;
   justify-content: center;
}
.main_page {
   display: inline;
   display: flex;
}
.main_pages__additional {
   /* justify-content: flex-end; */
   column-gap: var(--size_m);
}
.main_page__basket {
   position: relative;
}
.basket_count {
   position: absolute;
   right: -5px;
   top: 22px;
   font-size: 11px;
   font-weight: var(--weight_bold);
   color: var(--accent);
}
