.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   border-bottom: 2px solid #f3f3f3;
   height: 90px;
   width: 100%;
   padding: 0 100px;
   /* position: fixed;
   z-index: 150; */
}
.main {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
}
.mainPages {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   column-gap: 48px;
   align-items: center;
}
.additionalPages {
   height: 100%;
   display: flex;
   justify-content: flex-end;
   column-gap: 24px;
   align-items: center;
}
.text {
   width: 85px;
}
.icon {
   width: 30px;
   position: relative;
}
.icon_basket {
   position: relative;
}
.icon_text {
   position: absolute;
   right: -5px;
   top: 22px;
   font-size: 11px;
   font-weight: 700;
   color: #518581;
}
