.payment {
  display: flex;
  flex-direction: column;
  flex: 0 1 62%;
  position: relative;
  width: 100%;
}
.payment_title {
  margin-bottom: 12px;
}
.payment_buttons {
  padding: 30px 36px;
  border-radius: 7px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.payment_button {
  padding: 0;
  /* background-color: var(--light_white); */
  color: var(--black);
  width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: ease 0.2s;
  border: var(--light_gray) solid 2px;
  font-family: var(--font-family);
}
.payment_button__isActive {
  border: var(--accent_hover) solid 3px;
  border-radius: 5px;
}
.payment_button__isNotActive:hover {
  border: none;
  box-shadow: var(--shadows);
}
.payment_button__isActive:hover {
  box-shadow: none;
}
.payment_button:hover {
}
.payment_icon {
  margin-bottom: 5px;
}
.payment_icon:hover {
}
.payment_text {
  font-family: var(--font-family);
}
.payment_description {
  font-family: cursive;
  position: absolute;
  bottom: +14px;
  left: 35%;
  z-index: 15;
}
