
.main_pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 15px;
   padding: 5px 0;
   /* position: relative; */
   bottom: 0;
   /* height: 42px; */
}
.pagination_icon {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* .pagination_icon__active {
   color: black;
} */
.pagination_counter {
   /* position: relative; */
   display: flex;
   /* column-gap: 10px; */
   /* align-items: center;
   justify-content: center; */
}

.pagination_count {
   margin: 0;
   padding: 10px;
   width: 38px;
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: none;
   font-weight: 500;
   font-size: 18px;
   line-height: 180%;
   text-align: center;
   font-family: "Eudoxus Sans" sans-serif;
}
.count:hover {
   color: rgb(102, 102, 103);
   font-size: 19.5px;
}
.active_page {
   background-color: #518581;
   color: white;
}
.pagination_scroll{

}
.pagination_scroll:hover{
   border-radius: 50%;
   /* background-color: #ffffff; */
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

}