.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 15px;
   padding: 5px 0;
   bottom: 0;
   margin-top: var(--size_l);
}
.pagination_icon {
   display: flex;
   align-items: center;
   justify-content: center;
}
.pagination_pages {
   display: flex;
   background-color: var(--light_white);
}
.pagination_scroll {
   display: flex;
}
.pagination_scroll:hover {
   border-radius: 50%;
   box-shadow: var(--shadows);
}
.pagination_scroll__disabled {
   pointer-events: none;
}
.pagination_scroll svg {
   color: var(--black);
}

.pagination_scroll__disabled svg {
   color: var(--dark_gray);
}
