.container {
   /*потом убрать*/
   padding: 0 0 0 10px;
   width: 100%;
}

.price {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.inputField {
   display: flex;
   align-items: center;
   column-gap: 10px;
   /* justify-content: space-between; */
   position: relative;
   /* flex: 0.5; */

}
.inputField span {
   font-weight: 500;
   color: rgb(79, 79, 79);
   text-wrap: nowrap;
   margin-right: 10px;
}
.inputField input {
   width: 60px;
   padding: 16px 10px 3px 10px;
   border: none;
   margin-bottom: 10px;
   margin-left: -9px;
   font-size: 1.1rem;
   font-weight: 500;
   outline: none;
   border-bottom: 3px solid #afadb5;
   /*firefox*/
   -moz-appearance: textfield;
   background-color: rgb(255, 255, 255);
}

.inputField input[type="number"]::-webkit-inner-spin-button,
.inputField input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
}
.divider {
   height: 3px;
   width: 15px;
   border-radius: 30px;
   margin: 0 0.5rem;
   background-color: rgb(0, 0, 0);
}
.slider {
   position: relative;
   height: 7px ;
   background-color: #afadb5;
   border-radius: 20px;
   margin-top: 1.5rem;
}
.progress{
   position: absolute;
   height: 7px;

   border-radius: 20px;
   background-color: #518581;
}
.range {
   position: relative;
   width: 100%;
   margin-bottom: 1rem;
}
.range input {
   position: absolute;
   top: -7px;
   height: 7px;
   width: 100%;
   background: none; 
   pointer-events: none;
   /*попробовать добавить  в свой код*/
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
   width: 21px;
   height: 21px;
   -webkit-appearance: none;
   pointer-events: auto;
   border-radius: 50px;
   cursor: pointer;
   background-color: #518581;
}
