.navbar {
  width: 31%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 48px;
}
.navbar_btn {
  padding: 0 30px;
}
.footer_totalSumCount__isActive{
  color: var(--black);
  font-weight: 500;
}
.footer_totalSumCount {
  color: var(--accent_active);
}
.footer_totalSumText {
  font-size: 22px;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_deliverySum,
.footer_discountSum,
.footer_totalSum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_description {
  padding-top: 12px;
  font-size: 13px;
  font-family: cursive;
  padding: 12px 36px;
}
